* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: lato;
	font-size: 15px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	margin: 1em 0;
}

:root {
	--header-height: 46.5px;
}

@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Regular.ttf);
}

#main {
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-height);
	background-color: #000;
	z-index: 1;
}

#header a {
	padding: 0 24px;
}

#main-menu {
	display: inline-block;
}

#main-menu li {
	position: relative;
	display: inherit;
}

#main-menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: var(--header-height);
}

#main-menu > li:hover > a {
	color: #000;
	background-color: #ccc;
}

#main-menu li:hover .sub-menu {
	display: block;
}

#main-menu .sub-menu {
	min-width: 160px;
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
	display: none;
}

#main-menu .sub-menu li {
	width: 100%;
}

#main-menu .sub-menu a {
	padding: 0 16px;
	text-transform: capitalize;
	color: #000;
	line-height: 38px;
	background-color: #fff;
}

#main-menu .sub-menu a:hover {
	background-color: #ccc;
}

#search-icon {
	line-height: var(--header-height);
	float: right;
	color: #fff;
}

#search-icon:hover {
	background-color: #f44336;
}

#slider {
	margin-top: var(--header-height);
}

#slider .mySlides {
	text-align: center;
	position: relative;
}

#slider img {
	width: 100%;
}

#slider .slide-description {
	position: absolute;
	padding: 32px 16px;
	color: #fff;
	width: 100%;
	bottom: 10%;
}

#content {
	text-align: center;
}

#content .content-section {
	margin: auto;
	max-width: 800px;
	padding: 64px 16px;
}

.content-section .content-heading {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.content-section .content-sub-heading {
	opacity: 0.6;
}

#band-text {
	text-align: justify;
}

#tour-section {
	color: #fff;
	background-color: #000;
}

#map {
	width: 100%;
	filter: grayscale(60%);
}

#footer {
}
