* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: lato;
	font-size: 15px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	margin: 15px 0;
}

button {
	color: #fff;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
}

button:hover {
	color: #000 !important;
	background-color: #ccc !important;
}

input {
	padding: 8px;
	border: 1px solid #ccc;
	width: 100%;
}

:root {
	--header-height: 46.5px;
}

@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Regular.ttf);
}

.w-100 {
	width: 100%;
}

.inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.colx2 {
	float: left;
	width: 50%;
}

.colx3 {
	float: left;
	width: calc(100% / 3);
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

.opacity {
	opacity: 0.6;
}

.opacity-hover:hover {
	opacity: 0.6;
}

#main {
}

#header {
	position: fixed;
	top: 0;
	height: var(--header-height);
	background-color: #000;
	z-index: 1;
}

#header a {
	padding: 0 24px;
}

#main-menu {
}

#main-menu li {
	position: relative;
	display: inherit;
}

#main-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: var(--header-height);
}

#main-menu > li:hover > a {
	color: #000;
	background-color: #ccc;
}

#main-menu li:hover .sub-menu {
	display: block;
}

#main-menu .sub-menu {
	min-width: 160px;
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
	display: none;
}

#main-menu .sub-menu a {
	padding: 0 16px;
	text-transform: capitalize;
	color: #000;
	line-height: 38px;
	background-color: #fff;
}

#main-menu .sub-menu a:hover {
	background-color: #ccc;
}

#search-icon {
	line-height: var(--header-height);
	float: right;
	color: #fff;
}

#search-icon:hover {
	background-color: #f44336;
}

#slider {
	margin-top: var(--header-height);
}

#slider .slides {
	position: relative;
}

#slider .slide-description {
	position: absolute;
	padding: 32px 16px;
	color: #fff;
	bottom: 10%;
}

#content {
}

#content .content-section {
	margin: 0 auto;
	max-width: 800px;
	padding: 64px 16px;
}

#content .content-heading {
	text-transform: uppercase;
	letter-spacing: 4px;
}

#band-section .band-text {
	text-align: justify;
}

#band-section .member-list {
	padding: 32px 0;
}

#band-section .member-img {
	width: 60%;
	margin-bottom: 16px;
}

#tour-section {
	color: #fff;
	background-color: #000;
}

#tour-section .month-list {
	background-color: #fff;
	list-style-type: none;
	color: #757575;
	margin-top: 40px;
}

#tour-section .month-list li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd;
}

#tour-section .month-list span {
	padding: 0 8px;
	color: #fff;
}

#tour-section .sold-out {
	margin-left: 16px;
	background-color: #f44336;
}

#tour-section .concert-count {
	float: right;
	margin-right: 16px;
	border-radius: 50%;
	background-color: #000;
}

#tour-section .concert-list {
	padding: 32px 0;
	margin: 0 -8px;
}

#tour-section .concert {
	padding: 0 8px;
	margin-bottom: 16px;
	color: #000;
}

#tour-section .city-img {
	display: block;
}

#tour-section .concert-detail {
	background-color: #fff;
	padding: 0 16px;
}

#tour-section .concert-date {
	color: #757575;
}

#tour-section .booking-btn {
	background-color: #000;
	margin-bottom: 16px;
}

#contact-section .contact-form {
	padding: 32px 0;
}

#contact-section .contact-detail {
	font-size: 18px;
	margin-bottom: 16px;
}

#contact-section .contact-detail .fa{
	width: 30px;
}

#contact-section .info-input {
	margin: 0px -8px;
	margin-bottom: 8px;
}

#contact-section .info-input>div {
	padding: 0 8px;
}

#contact-section .send-btn {
	background-color: #000;
	text-transform: uppercase;
	float: right;
	margin: 16px 0;
}

#map {
	filter: grayscale(60%);
}

#footer {
	background-color: #f1f1f1;
	padding: 64px 16px;
	font-size: 24px;
}